.smarthome{
    display: flex;
    justify-content:space-between;
    background-color: #e4eaf4;
}
.smarthome-title{
   
}
.smarthome-title h2{
    text-align: right;
    margin-right: 25px;
    font-size: 30px;
}

.smarthome-img img{
    display: block;
    width: 500px;
}
.smarthome-line{
    width: 100px;
    height: 3px;
    background-color: #ff1313;
    margin-left: 680px;
}




.bestseller-saleoff {
    width: 90%;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    
    
}

/* BEST SELLER */
.bestseller {
    width: 60%; 
    display: flex; 
    flex-direction: column;
    
}

.bestseller h1 {
    color: teal;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.bestseller-lighting,
.bestseller-security {
    width: 45%; 
    text-align: center;
 
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: aqua;
}

.bestseller-lighting img,
.bestseller-security img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px; 
}

.bestseller-lighting h3, 
.bestseller-security h4 {
    font-size: 18px;
    margin: 10px 0;
}

.bestseller-lighting-price, 
.bestseller-security-price {
    font-size: 18px;
    color: red;
    margin: 10px 0; 
}

.bestseller-lighting-buy, 
.bestseller-security-buy {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}


/*  SALE OFF 20% */
.saleoff {
    width: 35%; 
    text-align: center;
    justify-content:left;
    
}

.saleoff h1 {
    color: teal;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.saleoff table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.saleoff th, .saleoff td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.saleoff th {
    background-color: #20b2aa;
    color: white;
    font-size: 16px;
}

.salepff td {
    font-size: 14px;
    color: #333;
}

.saleoff tr:hover {
    background-color: #f1f1f1;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* consultation */
.Consultation {
    padding: 20px;
    text-align: center;
    display: flex;
}

.infor label{
    font-weight: bold;
    font-size: 20px;
}

.infor input{
    width: 200px;
    height: 20px;
}

.infor input.name{
   
}

.infor input.phone{
    
    
}

.infor input.address{
    
}

/* Footer */
.footer {
    background-color: #00bfa5;
    padding: 20px;
    text-align: center;
    color: white;
}